.btn-login {
    border: solid;
    border-width: 1px;
    background-color: white;
    border-color: #673ab7;
    color: #673ab7;
}
.btn-signup {
    border: solid;
    border-width: 1px;
    background-color: white;
    border-color: #673ab7;
    color: #673ab7;
}

.form-fields {
    border-radius: 0.75rem; 
    height: 50px; 
    //width: 300px
  }
  .form-link-create-account {
    color: #6B59B7; 
    border-bottom: solid #6B59B7; 
    font-weight: 700
  }